html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  font-size: 18px;
}
body {
  margin: 0;
}
main {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
h1 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -.02em;
  color: #3a3a3a;
}
